<ion-view title="<img src='img/dropsiologo1.png'>">

  <ion-content padding="true" class="has-header">
    <form ng-submit='loginFormSubmit()' id="signup-form2" class="list ">

      <label class="item item-input " id="signupUsername">
        <input type="text" placeholder='Username' ng-model='userObj.user.userName'>
      </label>

      <label class="item item-input " id="signupPassword">
        <input type="password" placeholder='Password' ng-model='userObj.user.password'>
      </label>

      <input class="button button-block" id='loginSubmitButton' type="submit">
    </form>

    <div class='textCenter'>
      <h4>Don't have an account?</h4>
    </div>

    <button  ui-sref='signup' class="button button-block">Sign Up Here</button>
  </ion-content>

</ion-view>
