<ion-view title="<img src='img/dropsiologo1.png'>">

  <ion-content padding="true" class="has-header">
    <form ng-submit='loginFormSubmit()' class="list ">

      <label class="item item-input">
        <input type="text" placeholder='Username' ng-model='userObj.user.userName' required>
      </label>

      <label class="item item-input">
        <input type="password" placeholder='Password' ng-model='userObj.user.password' required>
      </label>

      <input class="button button-block" type="submit" value="Log In">
    </form>

    <div class='textCenter'>
      <h4>Don't have an account?</h4>
    </div>

    <div id='landingWrap' ng-show='landing' >
      <img class='landingImg' src="img/dropzioanimation.jpg" >
    </div>

    <div id='landingWrap1' ng-show='landing1' >
      <img class='landingImg' src="img/dropzioanimation1.png" >
    </div>

    <div id='landingWrap2' ng-show='landing2' >
      <img class='landingImg' src="img/dropzioanimation2.png" >
    </div>

     <div id='landingWrap3' ng-show='landing3' >
      <img class='landingImg' src="img/dropzioanimation3.png" >
    </div>

    <div id='landingWrap4' ng-show='landing4' >
      <img class='landingImg' src="img/dropzioanimation4.png" >
    </div>

    <div id='landingWrap5' ng-show='landing5' >
      <img class='landingImg' src="img/dropzioanimation5.png" >
    </div>

    <div id='landingWrap6' ng-show='landing6' >
      <img class='landingImg' src="img/dropzioanimation6.png" >
    </div>


    <button  ui-sref='signup' class="button button-block">Sign Up Here</button>
  </ion-content>

</ion-view>
