<ion-view class='has-header' title="<img src='img/dropsiologo1.png'>" class=" ">

  <ion-content padding="true">
    <form ng-submit='signupFormSubmit()' class="list ">

        <label class="item item-input" required>
          <input type="text" placeholder="Username" ng-model='userObj.user.userName'>
        </label>

        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model='userObj.user.password' required>
        </label>

        <label class="item item-input">
          <input type="password" placeholder="Verify Password">
        </label>

      <input class="button button-block" type="submit" value='Submit'>
    </form>
  </ion-content>


</ion-view>
