<ion-view class='has-header' title="<img src='img/dropsiologo1.png'>" id="page6" class=" ">

  <ion-content padding="true" class="has-header">
    <form ng-submit='signupFormSubmit()' id="signup-form2" class="list ">

        <label class="item item-input " id="signupUsername">
          <input type="text" placeholder="Username" ng-model='userObj.user.userName'>
        </label>

        <label class="item item-input " id="signupPassword">
          <input type="text" placeholder="Password" ng-model='userObj.user.password'>
        </label>

        <label class="item item-input" id="signupVerify">
          <input type="text" placeholder="Verify Password">
        </label>

      <input class="button button-block" id='signupSubmitButton' type="submit">
    </form>
  </ion-content>


</ion-view>
