<ion-view title="<img src='img/dropsiologo1.png'>">

  <ion-content padding="true" class="has-header">

    <form ng-submit='makeDropFormSubmit()' id="signup-form2" class="list ">


      <img ng-if='picTaken' id='droppedImg' ng-src="{{pictureUrl}}">

      <input class="button button-block" id='addPhoto' type="button" ng-click='takePhoto()' value='Take Photo'>

      <label class="item item-input " id="dropTitle">
        <input type="text" placeholder='Add Drop Title' ng-model='postObj.post.title'>
      </label>

      <label class="item item-input " id="dropContent">
        <input type="text" placeholder="Add Drop Message" ng-model='postObj.post.content'>
      </label>

      <input class="button button-block" id='makedropSubmitButton' type="submit" value='Drop'>
    </form>

  </ion-content>

</ion-view>
