<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-light tabs-icon-top " id="tabsController">



        <ion-tab title="Compass" icon="ion-android-compass" href="#/compass" id="compassTab">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>


        <ion-tab title="List" icon="ion-ios-list-outline" href="#/list" id="listTab">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>


        <ion-tab title="Make Drop" icon="ion-android-pin" href="#/makedrop" id="makeDropTab">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>



    </ion-tabs>
</ion-view>
