<ion-view title="<img src='img/dropsiologo1.png'>">

  <ion-content padding="true" class="has-header">

    <form ng-submit='makeDropFormSubmit()' id="signup-form2" class="list ">


      <img ng-if='picTaken' id='droppedImg' ng-src="{{pictureUrl}}">

      <input ng-click='takePhoto()' class="button button-block" id='takePhoto' type="button" value='Take Photo'>
      <p>{{testCam}}</p>

      <label class="item item-input " id="dropTitle">
        <input placeholder='Drop Title' type="text" ng-model='postObj.post.title'>
      </label>

      <label class="item item-input " id="dropContent">
        <input placeholder='Drop Message' type="text" ng-model='postObj.post.content'>
      </label>

      <input class="button button-block" id='makedropSubmitButton' type="submit" value='Drop'>
    </form>

  </ion-content>

</ion-view>
