<ion-view title="<img src='img/dropsiologo1.png'>" id="page3" class=" ">
  <ion-content padding="false" class="has-header">
    <ion-list>
      <ion-item style='padding-right: 0; z-index:0' ng-repeat='post in postList' ui-sref="tabs.singlepost({postId: post.id})" class="item-avatar item item-button-right">
        <img src="">
        {{post.title}} <br>
        {{post.user_id}}

        <div style='top:0; z-index:50' ng-click='endEvent($event)' class="buttons customList item">
          <button ng-click='postScore({{post.id}}, -1, $event)' class="button button-icon ion-arrow-down-a"></button>
          <p class='textSmall' >{{post.score}}</p>
          <button ng-click='postScore({{post.id}}, 1, $event)' class="button button-icon ion-arrow-up-a"></button>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
