/* Empty. Add your own CSS if you like */

.custom-color {

  background-color: black!important;

}

.imageCenter {
  margin: 0 auto;
  height: 34px;
}

.center {
  text-align: center;
  margin: 0 auto;
}
