/* Empty. Add your own CSS if you like */
body {

  /*z-index: -10*/
}

.image {
  width:100%
}

.landingImg {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 10000;
}

.custom-color {
  background-color: black!important;
}

.scoreContainer {
  float: right;
}

.listLeft {
  overflow: auto;
  display:  inline;
}

.listRight {
  float: right;
}

.ion-arrow-down-a {
  margin: auto 0;
  font-size: 32px!important;
}

.ion-arrow-up-a {
  padding-right: 0;
  margin-right: 0!important;
  border-right: 0!important;
  font-size: 32px!important;
}

.customList {
  border: none; z-index:100; height:100%; position:absolute; right:0;
  right:0!important;
  background-color: transparent
}



.textCenter {
  text-align: center;
}

.textSmall {
  font-size: 8px;
  width: 20px;
  text-align: center;
}

#dropImg {
  width: 100%
}

#imgDisplay {
  width: 100%;
  height: 100%;
}

.dropIcon {
  width: 50%

}

#dropIconWrap {

  /*vertical-align: bottom;*/
}
